
<div class="container">

  <form>
      <div class="mb-3">
        <input type="email" class="form-control ng-invalid" placeholder="Usuario" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"> Nunca compartas tu usuario con personas desconocidas.</div>
      </div>
      <div class="mb-3">
        <input type="password" placeholder="Contraseña" class="form-control" id="exampleInputPassword1">
      </div>
    
      <button type="submit" routerLink="/user" class="btn btn-primary">INGRESAR</button>
      
    </form>

</div>