<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/headerimg.png" alt="Logo" width="50" height="40" class="d-inline-block align-text-top">
        Proyecto de grado 

       
      </a>

    </div>


    
      <div class="usuario">

        <div class="btn-group">

          <button type="button" class="btn btn-primary btn-sm">Usuario</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="#">Agregar proyecto</a></li>
           <li><a class="dropdown-item" href="#">Lista de proyectos</a></li>
           <li><a class="dropdown-item" href="#">Editar proyecto</a></li>
           <li><a class="dropdown-item" href="#">Eliminar proyecto</a></li>
           <li><hr class="dropdown-divider"></li>
           <li><a class="dropdown-item" href="#"></a></li>
            </ul>
  
        </div>

        <div class="logout">
          <button type="button" routerLink="/home"  class="btn btn-light btn-sm ">Log out</button>
        </div> 
  
      </div>     
        
     
    

  

  </nav>

